<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="overlay" class="overlay">
    <div class="overlay-content">
        <h2>Willkommen zur Lotto-Web-App</h2>
        <p>
            Wähle zunächst sechs Zahlen aus. <br> <br>
            Gebe nun optional noch eine Begründung für deine Auswahl im Eingabefeld an. <br> <br>
            Klicke abschließen auf das Absendefeld. <br>
        </p>
        <button onclick="hideOverlay()">Weiter</button>
    </div>
</div>

<div id="app" class="container">
    <div class="title">Lotto</div>
    <div class="button-grid">
        <button
                v-for="number in buttonNumbers"
                :key="number"
                @click="handleButtonClick(number)"
                :class="{ 'selected': selectedNumbers.includes(number) }"
        >
            {{ number }}
        </button>
    </div>
    <div class="input-grid">
        <input type="text" v-model="inputValue" placeholder="Gebe hier eine Begründung für deine Auswahl an...">
    </div>
    <div class="submit-grid">
        <button @click="submitForm">Absenden</button>
    </div>
    <div class="message" v-if="message">{{ message }}</div>
</div>

<script src="/vue.js"></script>
<script type="module" src="/app.js"></script>
<script>
    function hideOverlay() {
        var overlay = document.getElementById("overlay");
        overlay.style.display = "none";
    }
</script>
</body>
</html>
