.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    grid-gap: 10px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-gap: 5px;
}

.input-grid {
    display: grid;
    width: 200px;
    height: 50px;
}

.submit-grid {
    display: grid;
    width: 200px;
    height: 50px;
}

.selected {
    background-color: blue; /* Ändere die Farbe nach deinen Wünschen */
}
